/* body {
    background: -webkit-linear-gradient( bottom, rgba(0, 0, 255, 0.99) 0%, rgba(0, 129, 127, 0.1) 50%, rgba(0, 255, 0, 0.99) 100%);
    background: -o-linear-gradient( bottom, rgba(0, 0, 255, 0.99) 0%, rgba(0, 129, 127, 0.1) 50%, rgba(0, 255, 0, 0.99) 100%);
    background: -ms-linear-gradient( bottom, rgba(0, 0, 255, 0.99) 0%, rgba(0, 129, 127, 0.1) 50%, rgba(0, 255, 0, 0.99) 100%);
    background: -moz-linear-gradient( bottom, rgba(0, 0, 255, 0.99) 0%, rgba(0, 129, 127, 0.1) 50%, rgba(0, 255, 0, 0.99) 100%);
    background: linear-gradient( to top, rgba(0, 0, 255, 0.99) 0%, rgba(0, 129, 127, 0.1) 50%, rgba(0, 255, 0, 0.99) 100%);
} */

.carton_img {
    border-radius: 50%;
}